.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.mypy_cache/
Examples/
.vscode/
*.xcodeproj/
*.xcworkspace/
*.trace